
    
    body {
        font-family: "Amaranth";
        background-color: #c8e0d4;
        color: white;
       
       
    }
    header
    {
        display: flex;
        flex-direction: row;
       margin-bottom: 100px;
       padding-left: 80px;
    }
    
    h1{
        font-size: 45px;
        margin-bottom: 20px;
    }
    
    h2{
        font-size: 30px;
    }
    main {
        display: flex;
        flex-direction: row;
        margin-bottom: 250px;
        padding-left: 200px;
        padding-right: 200px;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 100px;

    }
    
    .temp{
        position: relative;
        display: flex;
        flex-direction: row;
        background-color: #66879f;
        width: 300px;  
        justify-content: center;
        align-items: center;
    }
    .temp .centigrados
    {
        position: absolute;
        display: flex;
        top: 20px;
        right: 40px;
        font-size: 100px;

    }
    .temp .temp-value
    {
        
        position: absolute;
        display: flex;
      
        font-size: 100px;
    }
    .diff{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #2b5442;
        width: 150px;
    }
    .temp, .diff {
        padding: 80px 50px 80px 50px ;
        border-radius: 35px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Sombra en las cajas */
    }
    .diferencia-value
    {
        position: absolute;
        color: white;
        font-size: 100px;
        top: 20px;

    }
    .diferencia-txt{
        position: absolute;
        bottom: -80px;
        left: 30px;
        font-size: 40px;
        color: white;
    }
    footer{
        display: flex;
        position: relative;
        flex-direction: row;
       column-gap: 200px;
       align-items: center;
       justify-items: center;

    }
    .izq .casa-agi
    {
        height: 100px;
        filter: drop-shadow(10px 7px 10px rgba(143, 153, 145, 0.5));
    }
    .mitad
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 40px;
        flex-wrap: wrap;

    }
    .mitad .estado-div
    {
        display: flex;
        position: relative;
        justify-items: center;
        padding: 30px;
        width: 100px;
        border-radius: 40px;
        background-color: #66879f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    }
    .mitad .estado-div .estado-agi {
        position: absolute;
        top: 12px;
        left: 60px;
        font-size: 30px;


    }
    .derecha{
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 40px;
        flex-wrap: wrap;

    }
    .offscreen {
        position: absolute;
        left: -9999px;
    }
    .switch-agitacion{
        position: relative;
        background-color: rgb(8, 105, 82);
        width: 150px;
        height: 50px;
        border-radius: 50px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    }
    .switch-agitacion::after{
        content: '';
        position: absolute;
        top: 5px;
        left: 3px;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        background-color: white;
        transition: 0.3s ease;
    }
    .texto-swtich {
        position: absolute;
        color: white;
        font-size: 30px;
    }
    
    .texto-swtich.off {
        top: 5px;
        right: 15px;
    }
    
    .texto-swtich.on {
        top: 5px;
        left: 15px;
        opacity: 0;
    }
    #agitacion:checked + .switch-agitacion::after{
        transform: translate(100px);
    }
    #agitacion:checked + .switch-agitacion {
    background-color: rgb(46, 175, 145);
}

    #agitacion:checked + .switch-agitacion .texto-swtich.off {
    opacity: 0;
    }

    #agitacion:checked + .switch-agitacion .texto-swtich.on{
        opacity: 1;
    }

    @media (max-width:850px)
    {
        h2{
            font-size: 35px;
        }
        h1{
            font-size: 50px;
            
        }
        .diferencia-txt{
            left: 10px;
            font-size: 30px;
        }
        .diferencia-value,.temp .temp-value,.temp .centigrados{
            font-size: 70px;
        }
       main{
        padding-left: 50px;
       }
        .temp, .diff {
            padding: 50px 130px 100px 130px ;
            
        }
        footer{
           column-gap: 30px;
        }
        .izq .casa-agi
        {
            padding-top: 20px;
            height: 70px;
            filter: drop-shadow(10px 7px 10px rgba(143, 153, 145, 0.5));
        }
        .mitad .estado-div
        {
            
            padding: 20px;
            width: 50px;
            border-radius: 40px;
            background-color: #66879f;
        }
        .mitad .estado-div .estado-agi {
            position: absolute;
            top: 3px;
            left: 25px;
            font-size: 25px;
    
        }
        .switch-agitacion{
            
            width: 100px;
            height: 40px;
            
        }
        .switch-agitacion::after{
          
            top: 3px;
            left: 2px;
            width: 35px;
            height: 35px;
           
        }
        .texto-swtich {
            font-size: 25px;
        }
        #agitacion:checked + .switch-agitacion::after{
            transform: translate(60px);
        }
        .mitad, .derecha
        {

            flex-direction: column;
    
        }
      
        
    }
    @media (max-width:550px)
    {
        h2{
            font-size: 25px;
        }
        h1{
            font-size: 30px;
            
        }
        .diferencia-txt{
            left: 10px;
            font-size: 30px;
        }
        .diferencia-value,.temp .temp-value,.temp .centigrados{
            font-size: 50px;
        }
       main{
        padding-left: 50px;
       }
        .temp, .diff {
            padding: 50px 130px 100px 130px ;
            
        }
        footer{
           column-gap: 30px;
        }
        .izq .casa-agi
        {
            padding-top: 20px;
            height: 70px;
            filter: drop-shadow(10px 7px 10px rgba(143, 153, 145, 0.5));
        }
        .mitad .estado-div
        {
            
            padding: 20px;
            width: 50px;
            border-radius: 40px;
            background-color: #66879f;
        }
        .mitad .estado-div .estado-agi {
            position: absolute;
            top: 3px;
            left: 25px;
            font-size: 25px;
    
        }
        .switch-agitacion{
            
            width: 100px;
            height: 40px;
            
        }
        .switch-agitacion::after{
          
            top: 3px;
            left: 2px;
            width: 35px;
            height: 35px;
           
        }
        .texto-swtich {
            font-size: 25px;
        }
        #agitacion:checked + .switch-agitacion::after{
            transform: translate(60px);
        }
        .mitad, .derecha
        {

            flex-direction: column;
    
        }
       
        
        
    }