@font-face {
    font-family: 'Digital7';
    src: url('letras/DS-DIGIB.TTF') format('truetype'); /* Asegúrate de que la ruta sea correcta */
  }
body{
    background-color: rgb(16, 62, 16);
    color: white;
    font-family: 'Amaranth';
    
}

  
header{
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    margin-bottom: 100px;
}

main{
    display: flex;
    flex-direction: row;
    column-gap: 200px;
    font-size: 140px;
    justify-content: center;
    margin-bottom: 100px;
}
.temp-1{
    word-spacing: 200px;
}

.temp-2{
    word-spacing: 100px;
}
.sensor-1, .sensor-2, .span-parametro
{
    font-family: 'Digital7';
    font-size: 140px;
    
}
footer{
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    padding-right: 200px;
   justify-content: space-between;
}
.estado-banda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parametro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.estado{
    color: black;
    font-size: 35px;
    background-color: antiquewhite;
    border-radius: 50px;
    padding: 20px 10px 20px 80px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}
.Simbolo-Mayor , .Simbolo-Menor{
    height: auto;
    width: 150px;
    object-fit: contain;
}
button{
    border: none;
    background-color: transparent;
}

.casa-temp 
{
    filter: drop-shadow(10px 7px 10px rgba(0, 0, 0, 0.637));
}